{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Article</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ entity.content }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>
    <img src="/TPSiteEntreprise/web/{{ entity.path }}" alt=""/>

    {{ entity.path }}
        <ul class="record_actions">
    <li>
        <a href="{{ path('post') }}">
            Retour
        </a>
    </li>
    <li>
        <a href="{{ path('post_edit', { 'id': entity.id }) }}">
            Editer
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
